<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xiangshao.bunuoge.mapper.ArticleInfoMapper">

    <delete id="delete">
        delete from tbl_article_info
        <where>
            article_id = #{articleId}
        </where>
    </delete>

    <delete id="deleteBatch">
        delete from tbl_article_info
        <where>
            article_id in <foreach collection="articleIds" index="index" item="item" separator="," open="(" close=")">#{item}</foreach>
        </where>
    </delete>
    
    <update id="update">
        update tbl_article_info
        <set>
            <if test="title !=null and title !=''">title = #{title},</if>
            <if test="content !=null and content !=''">content = #{content},</if>
            <if test="type !=null and type !=''">type = #{type},</if>
            <if test="label !=null and label !=''">label = #{label},</if>
            <if test="status !=null and status !=''">'status' = #{status},</if>
        </set>
        <where>
            article_id = #{articleIds}
        </where>
    </update>
    
    <update id="updateBatch">
        update tbl_article_info
        set 'status' = #{status}
        where article_id in
        <foreach collection="articleIds" index="index" item="item" separator="," open="(" close=")">#{item}</foreach>
    </update>

    <select id="findList" resultType="TblArticleInfoResult">
        select a.*,b.nickname,b.avatar
        from tbl_article_info a
        left join tbl_user_info b on a.open_id = a.open_id
        <where>
            <if test="articleId !=null and articleId !=''">and article_id = #{articleId}</if>
            <if test="title !=null and title !=''">and a.title like '%${title}%'</if>
            <if test="content !=null and title !=''">and a.content like '%${content}%'</if>
            <if test="nickname !=null and nickname !=''">and b.nickname like '%${nickname}%'</if>
            <if test="creatTime !=null and creatTime !=''">and a.creat_time = #{creatTime}</if>
            <if test="status !=null and status !=''">and a.status = #{status}</if>
        </where>
    </select>

</mapper>